node_modules/
dist/
.DS_Store
*.log
# Android
android/keystore.properties
android/**/*.jks
android/**/*.keystore
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
